
.app {
  display: flex;
  background-color: black;
}
.main {
  flex-basis: 60;
  display: flex;
  flex-direction: column;
}
.map{
  flex-grow: 1;
  height: 100vh;
  top:0;
  position: sticky;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: #faf6f6;
  color: black;
}

.navbar-logo img {
  width: 50px; /* Adjust size as needed */
  height: auto;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 20px;
}

.navbar-links a {
  text-decoration: none;
  color: black;
}

.navbar-search {
      flex-grow: 1;
    text-align: center;
    padding-left: 130px;
}

.navbar-search input {
  width: 60%;
  padding: 15px;
  border-radius: 20px;
  border: 1px solid #ccc;
}

/* Styles for the container holding multiple flats */
.flat-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 20px;
}

/* Style for each individual flat card */
.flat {
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-width: 300px;
  width: 100%;
  transition: transform 0.3s ease;
}
.flat:hover {
  transform: scale(1.05); /* Scaling up the card on hover */
}

/* Style for the image within the flat card */
.flat-picture img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

/* Style for the title within the flat card */
.flat-title {
  padding: 16px;
  padding-bottom: 0px;
}

/* Style for the title text */
.flat-title h1 {
  font-size: 1.2em;
  padding-bottom: 0px;
}
.flat-price{
  padding: 16px;
  padding-bottom: 0px;
}
